/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic");

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px; /* по умолчанию */
}
body {
	line-height: 1;
	/* color: #000; */
	/* font-family:""; */
	font-family: "Roboto";
	font-size: 30px;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
/* ------------------------------ */

 .dog_block{
	 max-width: 1020px;
	 margin: 0 auto;
	 margin-bottom: 50px;
	 font-size: 0;
	 background:#F5F5F5 url(../img/bg1.png) no-repeat 500px -400px; 	 
 }

 .our {
	 max-width: 436px; 
	 font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	align-items: center;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #5D62B5;
 }

 .our::before{
	 display:inline-block;
	 content: "";
	 background: url(../img/vector_4.png);
	 width:20px;
	 height:20px;
	 margin-right: 17px;
	 vertical-align: top;
	 margin-bottom: 33px;
	 margin-top: -3px;
 }

 .sed {
	 max-width: 583px;
	 font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	color: #000000;
	margin-bottom: 68px;
 }

 .item {
	display: inline-block;
	max-width: 324px;
	vertical-align: top;	
}

.title {
	color: #f2726f;
	font-size: 19px;
	line-height: 1.37;
	font-weight: 900;
	margin: 0px 0px 10px 0px;
}

.text {
	color: #4b4b4b;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.15px;
}

.icon {
	display: inline-block;
	max-width: 63px;
	vertical-align: top;
	margin-right: 23px;
}

.body {
	max-width: 235px;
	display: inline-block;
	vertical-align: top;
}

/*---------------*/

.item_2 {display: inline-block;
	max-width: 324px;
	margin: 0 auto;
	background: #FFFFFF;
    border-radius: 20px;
	margin: 7px;
}

.item_2:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.icon_2 {
	width: 63px;
	height: 63px;
	margin: 50px 130px 33px 130px;
}

.title_2 {
	width: 237px;
	color: #f2726f;
	font-size: 19px;
	line-height: 1.37;
	font-weight: 900;
	text-align: center;
	margin: 0px 44px 20px 43px;
}

.text_2 {
	color: #4b4b4b;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.15px;
	text-align: center;
	margin: 0px 46px 49px 43px;
	width: 237px;
}

.body_2 {
	max-width: 237px;
}

 .block_2 {
	 display: inline-block;
	 margin-bottom: 66px;
 }

 .button {
	width: 124px;
	height: 48px;
	margin: 0 auto;
	border-radius: 8px;
	background: #f2726f;
	margin-bottom: 50px;
 }

 .link {
	text-decoration: none;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 24px;
	text-align: center;
	letter-spacing: 0.15px;
	text-transform: uppercase;
	color: #FFFFFF;
	padding: 13px 23px;
}

.link:hover{
	box-shadow: 0 14px 28px rgba(240, 72, 72, 0.25), 0 10px 10px rgba(0,0,0,0.22);
}
/*___________________________*/

.dog_bg {
	display: inline-block;
	max-width: 498px;
	margin-bottom: -200px;
	margin-left: 961px;	
}

.img_dog {
	max-width: 498px;
	margin: 0 auto;
	border-radius: 50px;
}

.block_3 {
	max-width: 1440px;
	margin: 0 auto;
	background: #29C3BE url(../img/image.png) no-repeat 629px 0px;
}

.our_2 {
	max-width: 436px; 
	font-family: Roboto;
   font-style: normal;
   font-weight: bold;
   font-size: 14px;
   line-height: 24px;
   align-items: center;
   letter-spacing: 2.5px;
   text-transform: uppercase;
   color: #FFFFFF;
   overflow: hidden;
}

.our_2::before{
	display:inline-block;
	content: "";
	background: url(../img/Overline\ Mark.png);
	width:20px;
	height:20px;
	margin-right: 17px;
	vertical-align: top;
	margin-bottom: 33px;
	margin-top: -3px;
}

.sed_2 {
	max-width: 583px;
	font-family: Roboto;
   font-style: normal;
   font-weight: 900;
   font-size: 36px;
   line-height: 42px;
   color: #FFFFFF;
   margin-bottom: 68px;   
}

.our_sed_2 {
	display: inline-block;
	max-width: 411px;
	margin: 112px 111px 79px 210px;	
}

.new_block{
	display: inline-block;
	max-width: 1020px;
	margin: 0 auto;
	margin: 0px 210px;
	margin-bottom: 100px;	
}
.new_block_1 {
	display: inline-block;
	max-width: 237px;
	margin-right: 75px;	
}

.img_duck{
	max-width: 76px;
	height: 76px;
	margin-right: 10px;
}

.duck_text{
	font-style: normal;
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	color: #FFFFFF;
	max-width: 150px;
	margin-bottom: 3px;	
	}

.duck_list{
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	color: #5D62B5;	
}

.duck_info{
	display: inline-block;
}

#new_block_no{ 
	margin-right: 0;
}

.duck_text:hover{
	color: #2c2f70;
}

.duck_list:hover{
	color: #FFFFFF;
}